:root{
    /* fonts-змінні з шрифтами */
--main-font: 'Roboto', san-serif;
--secondary-font: 'Raleway', san-serif;

    /* text color */
--main-txt-cl: #212121;
--accent-txt-cl:#2196F3;
    /* bg colors */
--light-bg-cl:#ffffff;
--dark-bg-cl:#212121;
    /* others */


    
   
}
/*  */
body{
    font-family:var(--main-font);
    color: var(--main-txt-cl);  
}

/* reset styles*/
.link{
    text-decoration: none;
}
.list,
.section-list {
    list-style: none;
}

.hero-title,
.title{
    text-transform: uppercase;
}
.logo-accent{
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #2196F3;
        text-decoration: none;
}
.logo{
    color: #212121;
}



.btn{
    font-family: inherit;
    cursor: pointer;
    
}
.address{
    font-style: italic;
}
.dark-bg{
    background-color: #2F303A
}